$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #232323;
$bg-color-1: #e67089;
$bg-color-2: #f93c64;
$bg-color-3: #fff8f8;
$bg-color-hover-1: #e28297;
