$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #ffffff;
$dark-color: #232323;
$primary-color: #f93c64;
$bg-color-1: #a32742;
$bg-color-2: #fff8f8;
$bg-color-hover-1: #b8405a;
$label-color: #a0a0a0;
$border-color-1: #c6c7ce;
