@import "../../styles/colors";

.table {
  width: 100%;
  padding: 20px;
  padding-top: 10px;

  th {
    text-align: start;
    color: $label-color;
    box-shadow: 0 0.7px 0 0 $border-color-1;
    font-weight: 400;
    padding-bottom: 8px;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0.3px 0 0 $border-color-1;
  }
}
